@charset "UTF-8";

/*
    Paleta de cores:

    #D9D0BF = meio branco
    #261501 = meio marrom
    #8C7C68 = meio cinza
*/

* {
    padding: 0px;
    margin: 0px;
    font-family:'Inter', sans-serif;
    box-sizing:border-box;
}

body, html {
    background-color: #8C7C68;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #D9D0BF;
    width: 250px;
    height: 500px;
    border-radius:20px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.347);

    transition: width .2s, height .2s, background-positon 1s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #8C7C68 url(../imagens/pexels-lizhi-liang-734722063-20808351\ \(1\).jpg);
    height: 200px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

div#formulario > h1 {
    text-align: center;
}

div#formulario > p {
    font-size: 0.6em;
    margin: 10px;
}

section#login > div#formulario {
    display: block;
    padding: 5px;
}

div#formulario > form {
    width: 100%;
}
form > div.campo {
    display: block;
    height: 50px;
    width: 100%;

    border-radius: 4px;
    margin: 5px 0px;

    color: #D9D0BF;
    background-color: #8C7C68;
}

div.campo > label {
    display: none;
}

div.campo > input {
    background-color: #261501;

    border: none;
    border-radius: 4px 0px;
    padding: 5px;
}
form > input[type=submit] {
    display: block;

    font-size: 1.2em;

    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    margin-top: 10px;

    background-color: #261501;
    color: #D9D0BF;

    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.367);

    cursor: pointer;
}

form > input[type=submit]:hover {
    color: #261501;
    background-color: #8C7C68;

    
    transition: 0.5s;
}

form > a.botao {
    display: block;

    text-align: center;
    font-size: 1.0em;

    background-color: #261501;
    color: #D9D0BF;

    height: 35px;
    width: 100%;
    text-decoration: none;

    border-radius: 4px;
    padding-top: 7px;

}

form > a.botao:hover {
    color: #261501;
    background-color: #8C7C68;

    transition: 0.5s;
}

form > a.botao > span {
    font-size: 0.8em;
}